/NimmSpiel/NimmSpiel/nbproject/private/
/NimmSpiel/NimmSpiel/build/
/NimSpiel/NimSpiel/build/
/Rangieren/Rangieren/nbproject/private/
/Rangieren/Rangieren/build/
/XORChiffre/XORChiffre/nbproject/private/